@import './variables';

// Global resets
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
}

body{
      font-family: $defaultStyle;
}

html {
      scroll-behavior: smooth;
}


//Title resets
h1{
      color: $black;
      font-family: $titleStyle;
      font-weight: $titleWeight;
}