@import './variables';

// Global resets
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
}

body{
      font-family: $defaultStyle;
}

html {
      scroll-behavior: smooth;
}

section{
      padding-bottom: 50px;
}

//Title resets
h1{
      color: $black;
      font-family: $titleStyle;
      font-weight: $supabold;
}

h2{
      font-family: $titleStyle;
      font-weight: $bold;
}

h3{
      font-family: $titleStyle;
}