@import "../helpers/variables";

#cv{
      .imageContainer{
            display: flex;
            justify-content: center;

            img{
                  width: 300px;
            }
      }

      .nameTitle{
            display: grid;
            align-items: center;

            h1{
                  text-align: center;
            }
      }
}