@import '../helpers/variables';

.bar {
      width: $barWidth;
      height: $barHeight;
      position: relative;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, .1);
      background-color: $grey;
      border-radius: 10px;
      &-percent {
            position: absolute;
            left: 0;
            height: inherit;
            background-image: $gradient;
            border-radius: 10px;
      }
}